.navbartext{
    color: green;
}
.treeplantation{
    background-color: green;
    color: white;
} 
.register{
    background-color: green;
    size: 30%;
}
.footer-color{
    color:white;
    background-color: green;
    text-align: center;

}
